#conteneur {
    display: grid;
    grid-template-rows: 7em repeat(11, 10em) 7em;
    grid-template-columns: 3(33%);
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "header header header"
        "aside . ."
        "aside . ."
        "aside . ."
        "aside . ."
        "aside . ."
        "aside . ."
        "aside . ."
        "footer footer footer"
        "footer footer footer";
}

nav {
    background-color: #ffba08;
    grid-area: nav;
    margin: 1em;
}

aside {
    background-color: #ffba08;
    grid-area: aside;
    margin: 1em;
    padding-top: 5em;
    padding-left: 5em;
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
}

footer {
    background-color: #ffba08;
    grid-area: footer;
    margin: 1em;
}

#choosebar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #dc2f02;
    height: 100%;
}

.i{
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    width: 100%;
    height: 100%;
}

.i:hover {
    background-color: #03071e;
    color: white;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #6a040f;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3.5em;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: #03071e;
}

body {
    background-color: #03071e;
    cursor: url("image/R.png"), auto;
    min-width: 1136px;
}



header {
    display: grid;
    background-color: #ffba08;
    grid-area: header;
    margin: 1em;
  grid-template-rows: 50em;
    grid-template-areas: ". h1 .";
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #03071e;
    font-size: 11em;
    width: 100%;
    grid-area: h1;
}

h1 {  
    background-color: #6a040f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-size:contain;
 }

 .reve{
    display: flex;
    flex-direction: column;
    height: 35%;
 }

#object1{
    position: absolute;
    border-radius: 50px;
}



#object1:hover{
    
    animation: ani 2s forwards;
    transition: 2s;
}




@keyframes ani {
    
    100%{
      translate: 800px;
    }
}

#object2{
    position: absolute;
    border-radius: 50px;
}

#object2:hover{
    animation: ani 2s forwards;
}

#object3{
    position: absolute;
    border-radius: 50px;
    min-height: 300px;
    
}

#object3:hover{
    animation: ani 2s forwards;
}

.texte{
    padding-bottom: 0%;
    padding-top: 8vw;
    color: #6a040f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

@media screen and (width < 1136px) {
    #conteneur {
        display: grid;
        grid-template-rows: 7em repeat(11, 10em) 7em;
        grid-template-columns: 3(33%);
        grid-template-areas:
            "nav nav nav"
            "header header header"
            "header header header"
            "aside aside aside"
            "aside aside aside"
            "aside aside aside"
            "aside aside aside"
            "aside aside aside"
            "aside aside aside"
            "aside aside aside"
            "footer footer footer"
            "footer footer footer";
    }

    .reve{
        display: flex;
        flex-direction: column;
        height: 35%;
        padding-left: 25%;
     }

     @keyframes ani {
    
        100%{
          transform: translateY(-300px);
        }
    }

    #object1:hover{
    
        animation: ani 2s forwards;
        transition: 2s;
    }

    #object2:hover{
        animation: ani 2s forwards;
    }

    #object3:hover{
        animation: ani 2s forwards;
    }

}

